*{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    box-sizing: border-box;
    margin: 0;
}
body{
	background: #F3F5FC;
}

.header,
.seccion1,
.seccion2,
.footer,
.div-seccion1{
  border: 1px solid black;
}

.header{
  padding: 2rem;
}

.menu{
  display: flex;
  width: 100%;
  height: 100vh;
}

.seccion1{
  width: 65%;
  display: flex;
  justify-content: end;
}

.div-seccion1{
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem 0;
}

.input-seccion1{
  width: 75%;
  height:48px;
  background: #F3F5FC;
  border: none;
  outline: none;
  color: #052142;
  font-size: 24px;
}

.input-seccion1::placeholder{
  color: #052142;
  font-size: 24px;
}

.seccion2{
  width: 35%;
}


